<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LostFishingGear.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCBA62E71CCBF4A100753004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCBA62FE1CCBF4A100753004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCBA63091CCBF4A100753004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
